
<div class=" ground first center ">
	<i class="agri">AgriGasy</i>
</div>
<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	On vous propose de<br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">faire des publications,</b>
                        <b>les autres te contacteront</b>
                        <b>si ils ont besoin</b>
                        <b>de votre produit</b>
                    </span>
                </h2>
                
			</div>
		</div>
	</div>
	<div class="main">
    <div class="container tim-container">
      <p>Ci-dessous est un exemple d'une publication de vente</p>
        <div id="extras">
            <div class="space"></div>
           		<div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <%=image_tag '01.jpg',class:"img-rounded img-responsive img-dog" %>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                  <h1 class="text-center">A propos des Ventes</h1>
                  <hr>
                  <p>
                  	Quand on fait une publication de vente, vous allez obligatoirement remplir un formulaire concernant votre produit.
                  </p>
                  <p>
                  	Vous pouvez vous éxprimer librement en remplissant ce formulaire tels que :
                  	<ul>
                  		<li>nommer votre produit,</li>
                  		<li>décrire votre produit (qualité, quantité, disponibilité, prix).</li>
                  	</ul>
                  </p>
                  <p>
                  	Nous nous intéressons beaucoup à la manière dont nos clients utilisent nos ressources et offrons un support solide et des mises à jour illimitées.                                   
                  </p>
                </div>
              </div>
            </div>
        </div>   
    </div>
	</div>
</section>

<div class="main">
    <div class="container tim-container">
      <p>Ci-dessous est un exemple d'une publication d'achat</p>
        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <%=image_tag 'image1.jpg',class:"img-rounded img-responsive img-dog" %>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                  <h1 class="text-center">A propos des Achats</h1>
                  <hr>
                  <p>
                  	Quand on fait une publication d'achat, vous allez obligatoirement remplir un formulaire concernant votre produit.
                  </p>
                  <p>
                  	Vous pouvez vous éxprimer librement en remplissant ce formulaire
                  </p>
                  <p>
                  	Vous pouvez vous éxprimer librement en remplissant ce formulaire tels que :
                  	<ul>
                  		<li>nommer votre produit,</li>
                  		<li>décrire votre produit (qualité, quantité, disponibilité, prix).</li>
                  	</ul>
                  </p>
                  <p>
                  	Nous nous intéressons beaucoup à la manière dont nos clients utilisent nos ressources et offrons un support solide et des mises à jour illimitées.                                   
                  </p>

                </div>
            </div>
        </div>
    <!--     end extras -->    
    </div>
<!-- end container -->
</div>