<div class="ground center">
	<h1>Conditions d'utilisation de cet site</h1>
	<ol>
		<h2><li>Produits</li></h2>
		<p>Les produits avendre ou à acheter présentés dans le catalogue publié sur le site font chacun l'objet d'un descriptif mentionnant leurs caractéristiques.</p>
		<h2><li>Prix</h2></li>
		<p>Les prix de vente/achat doivent forcement être indiqués, pour chacun des produits figurant dans le catalogue électronique, en Ariary toutes taxes comprises, hors frais de livraison et de transport mentionnés avant validation de la commande et facturés en supplément.
		En cas de promotion par les prix, le vendeur professionnel s'engage à appliquer le prix promotionnel à toute commande passée pendant la durée de la promotion.</p>
		<h2><li>Signal</li></h2>
		<p>Le fait qu'une publication depasse le nombre limite de signal, c'est-à-dire (mets ici le nombre de signal limite) entrainera sa suppression définitive.</p>
		<h2><li>Durée</li></h2>
		<p>Les offres de vente/achat en ligne présentées sur le site sont valables, à défaut d'indication de durée particulière, tant que les produits figurent dans le catalogue électronique et dans la limite des stocks disponibles.</p>
	</ol>
	
</div>
