 <div class="ground">
	<div class="mailenvoi center">
		
		<h1>Salut <i style="color: #03f2ff;"><%= @vente.user.first_name %></i> !</h1>
		<p>
			La création de votre publication de vente sur <strong><i style="color: #03f2ff;">AgriGasy</i></strong> a été bien reussi !<br>
			Elle sera publié après authentification par l'administrateur du site.
		</p>
		<img src="http://techstory.in/wp-content/uploads/2018/04/Is-India-Ready-for-Full-Scale-Agri-Entrepreneurship.jpg" class="photomail"><br>
		<i class="bleu"> AgriGasy </i> vous souhaite une excéllante journée
		<p>Retourner au site <a href="<%=@url%>" class="btn btn-warning">
		<i class="fab fa-fly"></i>Agrigasy</a> </p>
	</div>
</div>