<div class="center">
 	<h1>Salut <%= @vente.user.first_name %> !</h1>
    <p>
    	La création de votre publication de vente sur <strong><i>AgriGasy</i></strong> a été bien reussi !<br>
    	Elle sera publié après avoir authentifiée par un administrateur de notre site.
    </p> 
</div>  
