<div class="ground editachatground blanche">

	<h1>Liste de tous les produits</h1>
	<p>
		<% @produit.each do |produit| %>
			<strong>Nom : </strong> <%= produit.name %> <%= link_to "(details)", produit_path(produit.id) %><%if user_signed_in?%> <%if current_user.is_admin%>|<%= link_to "supprimer", produit_path(produit.id), method: 'delete', data: {confirm: 'supprimer?'} %><%end%><%end%><br/>
		<% end %>
	</p>
</div>