<div class="ground editachatground blanche">

	<h1>Liste de tous les produits disponibles </h1>
	<p> 
	<% @produit.each do |produit| %>
		<%vente_authentification = false
		  achat_authentification = false%>
		<%produit.ventes.each do |vente| 
			if vente.is_authenticate
				vente_authentification = true
				break
			else
				vente_authentification = false
			end 
		end%>
		<%produit.achats.each do |achat|
			if achat.is_authenticate
				achat_authentification = true
				break
			else
				achat_authentification = false
			end
		end%>
		<%if user_signed_in?%>
			<%if achat_authentification || vente_authentification || current_user.is_admin%>
				<h4><strong>Produit : </strong><i><%=link_to produit.name , produit_path(produit.id)%></i></h4>
				<%if user_signed_in?%>
					<%if current_user.is_admin%>
						<i><%= link_to " supprimer", produit_path(produit.id),class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %></i><br/>
					<%end%>
				<%end%>
			<%end%>
		<%else%>

			<%if achat_authentification || vente_authentification%>
				<h4><strong>Produit : </strong><i><%=link_to produit.name , produit_path(produit.id)%></i></h4>
				<%if user_signed_in?%>
					<%if current_user.is_admin%>
						<i><%= link_to " supprimer", produit_path(produit.id),class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %></i><br/>
					<%end%>
				<%end%>
			<%end%>
		<%end%>
		
 	<%end%>

	</p>
</div>