<% if @achat.errors.any? %>
  <p>Nous n'avons pas réussi à créer l'Event pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @achat.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Créer une publication de votre besoin</h1>

<%= form_tag url_for(action: 'create'), method: "post" do %>
  Nom du produit</br>
  <input type="string" name="nom" placeholder="name product">*<br/>
  Region <br/>
  <input type='text' name='place' placeholder="Region">*<br/><br/>
  <div>      
  Description<br/>
  <textarea type="text" name="description" placeholder="donné un détail du demande"></textarea>*<br/>
  Quantité<br/>
  <input type="string" name="quantite" placeholder="quantité du produit rechercher">*<br/>
  Prix en Ariary / Unité <br/>
  <input type="string" name="prix" placeholder="3562.1"> <input type="text" name="unite" placeholder="ex : Ar/t(Ariary/tonne)">  <br/>
  Date de disponibilité<br/> 
  <input type="datetimes" name="date" placeholder="01-01-2001"><br/>
  Lieu<br/>
  <input type="text" name="lieu" placeholder="city"><br/>
  </div>
  <br/>
  <%= submit_tag "Create Publication" %>
<% end %>