<h1>Créer une publication de votre besoin</h1>

<%= form_tag url_for(action: 'create'), method: "post" do %>

    <%= label_tag 'Region' %><br/>
    <input type='text' name='place' placeholder="Region"> <br/><br/>

  <div>      
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Nom du produit</th>
              <th>Description</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>Date de disponibilité</th>
              <th>Lieu</th>
            </tr>
            <tr>
              <th><input type="string" name="nom"></th>
              <th><input type="text" name="description"></th>
              <th><input type="string" name="quantite"></th>
              <th><input type="string" name="prix"> <input type="text" name="unite">  </th>
              <th><input type="datetimes" name="date"></th>
              <th><input type="string" name="lieu"></th>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>

  <%= submit_tag "Create Publication" %>
<% end %>