<div class="ground">
	<div class="mailenvoi center">
		
	<h1>Salut : <%@admin.each do |admin|%> '<%= admin.first_name %>' <%end%>!</h1>
	<p>
	  Un utilisateur nommé <i style="color: #03f2ff;">'<%=@achat.user.first_name%>'</i> et ayant le mail  `<%= @achat.user.email %>`  vient de créer une publication d'achat sur ton site.
	</p>
	<img src="http://techstory.in/wp-content/uploads/2018/04/Is-India-Ready-for-Full-Scale-Agri-Entrepreneurship.jpg" class="photomail"><br>
	<i class="bleu"> AgriGasy </i> vous souhaite une excéllante journée
	</div>
</div>


