<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.first_name %> !</h1>
    <p>
      Un utilisateur nommé <%=@achat.user.first_name%> et ayant le mail <%= @achat.user.email %> vient de créer une publication d'achat sur ton site.
    </p>    
  </body>
</html>