    <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1>
    <p>
      Un utilisateur nommé <%=@user.first_name%> et ayant le mail <%= @user.email %> vient de s'inscrir sur ton site.
    </p>    
