
<body>
    <h1>Salut les admins <%@admin.each do |admin|%> '<%= admin.first_name %>' <%end%>!</h1>
    <p>
      Un utilisateur nommé '<%=@vente.user.first_name%>' et ayant le mail '<%= @vente.user.email %>' vient de créer une publication de vente sur ton site.
    </p>    
</body>
