/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*navbar*/
/**********************************************/

.topnav {
  background-color: #333;
  overflow: hidden;
  opacity: 0.5;
  width: 100%;
  height: 80px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 150px;
  position: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}
/* Change the color of links on hover */
.topnav a:hover {
  opacity: 0.8;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-weight: bold;
  font-size: 1.2em;
  
}
/************************************/
/*dropdown*/
/*************************************/
.dropbtn {
  margin-top: 90px;
  background-color: #4000ff;
  color: white;
  opacity: 0.5;
  padding: 10px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  width:60px;
  height:60px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #4000ff;
  opacity: 0.2;
}

.dropdown {
  margin-right: 50px;
  margin-top: 460px;
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4000ff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.5;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #4000ff;
  opacity: 0.2;
}

.show {display: block;}
/*search bar manipulation */
input[name=find]{
  padding: 1px;
  margin-top: 15px;
  border:none;
  border-bottom: 1.5px solid white;
  background-color: transparent;
  color:white;
  float: right;
}
input[type=text], input[type=password] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}


.fa-search{
  padding: 1px;
  margin-top: 16px;
  border:none;
  border-bottom: 1.5px solid white;
  background-color: transparent;
  color:white;
  float: right;
}



* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;

}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;

}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
/* Menu Boribory*/

.circular-menu {
  position: fixed;
  right: 1em;
  margin-top: 0;
  top:35em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0, 1.55, .265, 1);
  background-color: hsl(4, 98%, 60%);
  opacity: 0.5;
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em, -3.5em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  top: 1em; 
  right: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: green;
}

.circular-menu.circular-menu-left:after {
  background-color: green;
  opacity: 0.5;
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(0em,7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(-2.33em,4.66em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(-4.66em,2.33em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,0,0);
}
/***************ground/style/COLOR*************************/
.home{
  border:1px solid white;
  padding:10px;
  width: 70px;
}
.ground{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px;

}
.first {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('images.jpeg');
  height: 700px;
  background-attachment: fixed;
  padding-top: 250px;
  font-weight: bold;
  font-size: 15em;
}
.editachatground{
  background-image: url("reunion13_0.jpg"); 
}
.agri{
 opacity: 0.8;

}
.Acceuil{
  margin-top: 90px;
}
.center{
  text-align: center;
}
.blanche{
  color:white;
}
.rouge{
  color: #ff0400;
}
.textgras{
  font-weight: bold;
}
.floue{
  opacity: 0.7;
}
.radius{
  border-radius: 20px;
}
.round{
  border-radius:50%;
}
textarea{
  border-radius: 5px;
}
.areaedit{
  width: 244px;

}
.online{
  margin-top: 10px;
}
.profilphoto:hover{
  opacity: 0.8;
  border: 1px solid #f7f139;
}
/*grid*/
/******************************/

.scroll{
  display: inline-block;
  width: 525px;
  height: 650px;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  border: 2px solid; 
}
.scroll1{
  padding-top: 10px;
  display: inline-block;
  border: 2px solid;
  width: 790px;
  vertical-align: top;
  padding-right: 5px;
  padding-left: 5px;
  height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*boutton*/
/******************** BOUTTON*******************************/
.boutton{
  border:1px solid;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
.success{
  background-color: #08bd20;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

h1 {
  text-align: center;
  color: blue;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}*/
.simple{
  background-color: #93948b;
  opacity: 0.5;
}
.primary{
  background-color: #00fffb;
  color: white;
}
.seemore{
  font-size:12px;
}
  /*list*/
  /**********************************************/
.mar {
  }
ul{
  list-style-type: none;
}
.container {
  display: inline-block;
}
.border {
  width:250px;
  padding-left: 13px;
 
}
.tezz {

}
.tableau{
width: 150%;
margin-right: 5px;
font-size:12px;
}
/*achat*/
/*/**************************/
.editachat1 {
  display: inline-block;
  margin-left: 90px;
  margin-right: 50px;
}
.editachat2 {
  background-image: url("color2.jpg");
  border-radius: 30px;
  padding: 25px;
  background-size: cover;
  margin-left: 100px;
  display: inline-block;
  vertical-align: top;

}
.photo{
  background-color: white;
  padding:6px;
  padding-top: 2px;
  border-radius: 30px
}


body {font-family: Arial, Helvetica, sans-serif;}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 200px;
  border-radius: 50%;
}


span.psw {
  
  background-color: white;
}

.btn-log{
   width: 360px;
   border-radius: 14px;
   margin-right: 15px;
}
.btn-sig{
   width: 120px;
   border-radius: 14px;
}
