<div class="bienvenue ground ">
	<div class="container" >
		<h1>Bienvenue dans notre site <strong><i>AgriGasy</i></strong></h1>
		<h4>Ceci est un site commercial des produits agricoles pour faciliter la communication entre les vendeurs et les collecteurs afin de render le prix le plus bas possible </h4>
		<h3>En tant qu'utilisateur, voici tout ce que vous pouvez faire</h3>
		<p><ol><i><h4>
			<li>Créer une publication Vente (c'est un produit que vous voulez vendre)</li>
			<li>Créer une publication Achat (c'est un produit dont vous avez besoin)</li>
			<li>Modifier ou éffacer votre publication</li>
			<li>Modifier votre profil, attacher une photo de profil</li>
			<li>Contacter une personne via un message privé</li>
		</h4></i></ol></p>
		<h1 class="text-danger"><strong>ATTENTION</strong></h1>
		<p><ul><i><h4>
			<li>Si votre publication est signalé, l'administrateur peut l'effacer. Ainsi, nous te conseillons d'utiliser une vraie photo et une publication encore disponible.</li>
			<li>voir plus de <a href="<%condition_path%>">conditions</a>du site</li>
		</h4></i></ul></p>
	</div>
</div>
