<div class="ground editachatground ">

	<h1>Liste des regions </h1>
	<p>
		<%@region.each do |region|%>
			<%@vente_authentifie = false
			@achat_authentifie = false%>
			<%region.ventes.each do |vente|
				if vente.is_authenticate
					@vente_authentifie = true
					break
				else
					@vente_authentifie = false
				end
			end%>
			<%region.achats.each do |achat|
				if achat.is_authenticate 
					@achat_authentifie = true
					break
				else
					@achat_authentifie = false
				end
			end%>
			<%if user_signed_in?%>
				<%if @achat_authentifie || @vente_authentifie || current_user.is_admin%>
					<h4><strong>Région : </strong><i><%=link_to region.place , region_path(region.id)%></i></h4>
					<%if user_signed_in?%>
						<%if current_user.is_admin%>
							<i><%= link_to " supprimer", region_path(region.id),class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %></i><br/>
						<%end%>
					<%end%>
				<%end%>
			<%else%>
				<%if @achat_authentifie || @vente_authentifie%>
					<h4><strong>Région : </strong><i><%=link_to region.place , region_path(region.id)%></i></h4>
					<%if user_signed_in?%>
						<%if current_user.is_admin%>
							<i><%= link_to " supprimer", region_path(region.id),class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %></i><br/>
						<%end%>
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	</p>
</div>