<h3>Voici la liste de tous les utilisateurs y compris les administrateurs:)</h3>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Admin</th>
  </tr>
	<%@user.each do |user| %>
	  <tr>
	    <td><%= link_to user.first_name, user_path(user) %></td>
	    <td><%= link_to user.last_name, user_path(user) %></td>
	    <% if user.is_admin %>
		    <td><label class="switch">
				  <input type="checkbox" checked>
				  <span class="slider round"></span>
				</label>
			</td>
		<%else%>
			<td><label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label>
			</td>
		<%end%>
  	  </tr>
	<%end%>
</table>
