<br>
<br>
<br>
<br>
<h1>En tant qu'administrateur, <br>vous avez comme tâche d'authetifier les publications des utilisateurs</h1>
<h3>Liste de(s) vente(s) à authentifier </h3>
<p>
	<% @authenticatevente.each do |vente| %>
		<% if vente.is_authenticate == false %>
			<%= vente.produit.name %> <%= link_to "Voire la publication pour l'authentification", vente_path(vente) %>
		<% end %>
	<% end %>
</p>
